body {
    background-color: #031207;
    color: white;
}

ul {
  list-style-type: square;
  line-height: 2em;
  font-size: 90%;
  font-family: Tahoma, Geneva, sans-serif;
  margin: 0px;
}

.big{
    font-size: 750%;
    font-family: 'Lato', sans-serif;
    font-style: bold;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 0px;
    margin-left: 2%;
    user-select: none;
}

.subtitle{
    font-size: 300%;
    font-family: 'Lato', sans-serif;
    font-style: bold;
    font-weight: 300;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 2%;
    user-select: none;
}

.nav-table{
    font-size: 140%;
    margin-top: 0px;
    margin-bottom: 20px;
    margin-left: 2%;
    user-select: none;
}

.proj-rounded-box {
    margin-bottom: 20px;
    margin-left: 2%;
    margin-right:0px;
    border-radius: 20px;
    background: #161616;
    padding: 20px;
    width: 50%;
    min-width: 400px;
    max-width: 800px;

}

.proj-header {
    text-align: center;
    font-size: 160%;
    font-family: 'Lato', sans-serif;
    font-style: bold;
    font-weight: 240;
    margin-top: 0px;
    margin-bottom: 0px;
}

.proj-img {
    width: 100%;
    display: block;
}

.center{
    text-align: center;
}

.audio-player{
    width: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
}

.audio-description{
    line-height: 2em;
    font-size: 100%;
    font-family: Tahoma, Geneva, sans-serif;
    margin: 0px;
}

.lyrics-label-text{
    line-height: 2em;
    font-size: 120%;
    font-family: Tahoma, Geneva, sans-serif;
    margin: 0px;
    background: #222222;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

.feeling-lyrics-content{
    max-height: 0px;
    overflow: hidden;
    line-height: 2em;
    font-size: 100%;
    font-family: Tahoma, Geneva, sans-serif;
    margin: 0px;
}

#feeling-lyrics-toggler {
    position: absolute;
    left:-9000px;
}

#feeling-lyrics-toggler:checked ~ .feeling-lyrics-content{
    max-height: 100%;
}

.dontcare-lyrics-content{
    max-height: 0px;
    overflow: hidden;
    line-height: 2em;
    font-size: 100%;
    font-family: Tahoma, Geneva, sans-serif;
    margin: 0px;
}

#dontcare-lyrics-toggler {
    position: absolute;
    left:-9000px;
}

#dontcare-lyrics-toggler:checked ~ .dontcare-lyrics-content{
    max-height: 100%;
}

.nightride-lyrics-content{
    max-height: 0px;
    overflow: hidden;
    line-height: 2em;
    font-size: 100%;
    font-family: Tahoma, Geneva, sans-serif;
    margin: 0px;
}

#nightride-lyrics-toggler {
    position: absolute;
    left:-9000px;
}

#nightride-lyrics-toggler:checked ~ .nightride-lyrics-content{
    max-height: 100%;
}

.affliction-lyrics-content{
    max-height: 0px;
    overflow: hidden;
    line-height: 2em;
    font-size: 100%;
    font-family: Tahoma, Geneva, sans-serif;
    margin: 0px;
}

#affliction-lyrics-toggler {
    position: absolute;
    left:-9000px;
}

#affliction-lyrics-toggler:checked ~ .affliction-lyrics-content{
    max-height: 100%;
}

p{
    line-height: 2em;
    font-size: 130%;
    font-family: Tahoma, Geneva, sans-serif;
    margin: 0px;
}

a{
    color: #34FF6D;
    text-decoration: none;
}

a:hover{
    color: lightgreen;
    text-decoration: underline;
}

a.card{
    color: #34FF6D;
    text-decoration: none;

}
