body {
    background-color: #000000;
    color: white;
}

.big{
    font-size: 750%;
    font-family: 'Lato', sans-serif;
    font-style: bold;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 0px;
    margin-left: 20px;
}

.subtitle{
    font-size: 300%;
    font-family: 'Lato', sans-serif;
    font-style: bold;
    font-weight: 300;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 20px;
}

.nav-table{
    font-size: 140%;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 20px;
}

.proj-table{
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 20px;
}

.proj-header {
    font-size: 140%;
    font-family: 'Lato', sans-serif;
    font-style: bold;
    font-weight: 250;
    margin-top: 0px;
    margin-bottom: 0px;
}

.center{
    text-align: center;
}

p{
    line-height: 2em;
    font-size: 130%;
    font-family: Tahoma, Geneva, sans-serif;
    margin: 0px;
}

a{
    color: #34FF6D;
    text-decoration: none;
}

a:hover{
    color: lightgreen;
    text-decoration: underline;
}
