body {
    background-color: black;
    color: white;

}

.big{
    font-size: 750%;
}

.center{
    text-align: center;
}
table.center {
    margin-left:auto;
    margin-right:auto;
  }

.smallImg{
    height: 100px;
    width: 100px;
}
