* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow: hidden;
   }

body {
	background-size: 100%;
  background: black;
	font-family: 'Raleway', sans-serif;


}


#icon {
	width:2.2vw;
  height: 2.2vw;
	margin-right: 3vw;

  -webkit-filter: grayscale(0) blur(0);
  filter: grayscale(0) blur(0);
  -webkit-transition: .05s ease-in-out;
  transition: .05s ease-in-out;
}

#icon:hover {
   color:white;

   -webkit-filter: grayscale(100%) blur(1px);
  filter: grayscale(100%) blur(1px);
}



.name {
	font-family: 'Bungee', cursive;
	font-size: 5em;
	color: white;
	margin-top: 5%;
  width: 70vw;
  height: auto;


}

p {
	margin-top: 1vh;
}


button {
  -webkit-appearance: none;

  border: 0;
  outline: 0; }

.paginate {
  position: absolute;
  margin: 10px;
  width: 50px;
  height: 50px;
  cursor: pointer;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  top: 95%;
  margin-top: -20px;
  -webkit-filter: drop-shadow(0 2px 0px rgba(0, 0, 0, 0.2)); }
  .paginate i {
    top: 40%;
    left: 0;
    width: 50px;
    height: 5px;
    border-radius: 2.5px;
    background: #fff;
    -webkit-transition: all 0.15s ease;
            transition: all 0.15s ease; }
  .paginate.left {
  	color: white;
    top: 7vh;
    left: 10%; }
    .paginate.left i {
      -webkit-transform-origin: 0% 50%;
          -ms-transform-origin: 0% 50%;
              transform-origin: 0% 50%; }
    .paginate.left i:first-child {
      -webkit-transform: translate(0, -1px) rotate(40deg);
          -ms-transform: translate(0, -1px) rotate(40deg);
              transform: translate(0, -1px) rotate(40deg); }
    .paginate.left i:last-child {
      -webkit-transform: translate(0, 1px) rotate(-40deg);
          -ms-transform: translate(0, 1px) rotate(-40deg);
              transform: translate(0, 1px) rotate(-40deg); }
    .paginate.left:hover i:first-child {
      -webkit-transform: translate(0, -1px) rotate(30deg);
          -ms-transform: translate(0, -1px) rotate(30deg);
              transform: translate(0, -1px) rotate(30deg); }
    .paginate.left:hover i:last-child {
      -webkit-transform: translate(0, 1px) rotate(-30deg);
          -ms-transform: translate(0, 1px) rotate(-30deg);
              transform: translate(0, 1px) rotate(-30deg); }
    .paginate.left:active i:first-child {
      -webkit-transform: translate(1px, -1px) rotate(25deg);
          -ms-transform: translate(1px, -1px) rotate(25deg);
              transform: translate(1px, -1px) rotate(25deg); }
    .paginate.left:active i:last-child {
      -webkit-transform: translate(1px, 1px) rotate(-25deg);
          -ms-transform: translate(1px, 1px) rotate(-25deg);
              transform: translate(1px, 1px) rotate(-25deg); }
    .paginate.left[data-state=disabled] i:first-child {
      -webkit-transform: translate(-5px, 0) rotate(0deg);
          -ms-transform: translate(-5px, 0) rotate(0deg);
              transform: translate(-5px, 0) rotate(0deg); }
    .paginate.left[data-state=disabled] i:last-child {
      -webkit-transform: translate(-5px, 0) rotate(0deg);
          -ms-transform: translate(-5px, 0) rotate(0deg);
              transform: translate(-5px, 0) rotate(0deg); }
    .paginate.left[data-state=disabled]:hover i:first-child {
      -webkit-transform: translate(-5px, 0) rotate(0deg);
          -ms-transform: translate(-5px, 0) rotate(0deg);
              transform: translate(-5px, 0) rotate(0deg); }
    .paginate.left[data-state=disabled]:hover i:last-child {
      -webkit-transform: translate(-5px, 0) rotate(0deg);
          -ms-transform: translate(-5px, 0) rotate(0deg);
              transform: translate(-5px, 0) rotate(0deg); }
  .paginate.right {
    top: 7vh;
    right: 10%; }
    .paginate.right i {
      -webkit-transform-origin: 100% 50%;
          -ms-transform-origin: 100% 50%;
              transform-origin: 100% 50%; }
    .paginate.right i:first-child {
      -webkit-transform: translate(0, 1px) rotate(40deg);
          -ms-transform: translate(0, 1px) rotate(40deg);
              transform: translate(0, 1px) rotate(40deg); }
    .paginate.right i:last-child {
      -webkit-transform: translate(0, -1px) rotate(-40deg);
          -ms-transform: translate(0, -1px) rotate(-40deg);
              transform: translate(0, -1px) rotate(-40deg); }
    .paginate.right:hover i:first-child {
      -webkit-transform: translate(0, 1px) rotate(30deg);
          -ms-transform: translate(0, 1px) rotate(30deg);
              transform: translate(0, 1px) rotate(30deg); }
    .paginate.right:hover i:last-child {
      -webkit-transform: translate(0, -1px) rotate(-30deg);
          -ms-transform: translate(0, -1px) rotate(-30deg);
              transform: translate(0, -1px) rotate(-30deg); }
    .paginate.right:active i:first-child {
      -webkit-transform: translate(1px, 1px) rotate(25deg);
          -ms-transform: translate(1px, 1px) rotate(25deg);
              transform: translate(1px, 1px) rotate(25deg); }
    .paginate.right:active i:last-child {
      -webkit-transform: translate(1px, -1px) rotate(-25deg);
          -ms-transform: translate(1px, -1px) rotate(-25deg);
              transform: translate(1px, -1px) rotate(-25deg); }
    .paginate.right[data-state=disabled] i:first-child {
      -webkit-transform: translate(5px, 0) rotate(0deg);
          -ms-transform: translate(5px, 0) rotate(0deg);
              transform: translate(5px, 0) rotate(0deg); }
    .paginate.right[data-state=disabled] i:last-child {
      -webkit-transform: translate(5px, 0) rotate(0deg);
          -ms-transform: translate(5px, 0) rotate(0deg);
              transform: translate(5px, 0) rotate(0deg); }
    .paginate.right[data-state=disabled]:hover i:first-child {
      -webkit-transform: translate(5px, 0) rotate(0deg);
          -ms-transform: translate(5px, 0) rotate(0deg);
              transform: translate(5px, 0) rotate(0deg); }
    .paginate.right[data-state=disabled]:hover i:last-child {
      -webkit-transform: translate(5px, 0) rotate(0deg);
          -ms-transform: translate(5px, 0) rotate(0deg);
              transform: translate(5px, 0) rotate(0deg); }
  .paginate[data-state=disabled] {
    opacity: 0.3;
    cursor: default; }

.counter {
	background: black;
  
  text-align: center;

  width: 100%;
  top: 93.5%;
  margin-top: -15px;
  font-size: 60px;
  text-shadow: 0px 2px 0px rgba(0, 0, 0, 0.2);
  color: white; }

  .content {

 	text-align: center;

 	width: 100%;
 	height: 80%;
 	font-size: 25px;
 	color:white;
  }